<!DOCTYPE html>
<html>

<head>
	<title>My profil page</title>
	<link rel="stylesheet" type="text/css" href={{stylesheet}}>
</head>
<header>
	<nav>
		<ul>
			<li><a href="#pictures">My pictures</a></li>
			<li class="funFact">Fun Fact: My daily lucky number is {{luckyNbr}}</li>
		</ul>
	</nav>
</header>

<body>
	<div class="mainText">
		<div class="blurb">
			<h2 style="text-align:center">A bit about myself</h2>
			<p>My name is Louis Durand.<br>
				Best known for my bad selfies, I am also a computer science master student at ITMO.<br>
				In France, I study at EPITECH School.<br></p>
		</div>
		<div>
			<p>I studied computer science for more than 4 years now in France and in Russia. My favourite programming
				language is Python</p>
			<p>I've taught programming for more than 11 months to students as a part and full time job back in 2020-2021
			</p>
			<p>I have worked in two IT compagnies for more than 1 year total, working as a web developper, a IT
				consultant on train safety and industrial testing.
			</p>
			<p>One of my favorite passions is photography, I love taking pictures and my year abroad in russia was a
				delight, because of the beauty of Russia and all the good pictures I could take there.
			</p>
		</div>
	</div>
</body>
<div id="pictures" class="picture-galery">
	<h1>My pictures</h1>
	{% for value in images %}
	<img class="picture-galery" src="{{value}}" alt="image">
	{% endfor %}
</div>

</html>